<div class="artist">
  <img class="artist-img-top" src='{{image_url}}' alt="artist-img">
  <div class="artist-body">
    <h5 class="artist-name">{{name}}</h5>
    <p class="artist-desc">{{link}}</p>
  </div>
</div>
